<launch>

    <!-- launch PID Manager node -->
    <node name="self_balance" pkg="bbot_control" type="pid_control.py" output="screen">
        <remap from="imu" to="/bbot/imu"/>
        <remap from="cmd_vel" to="/bbot/mobile_base_controller/cmd_vel"/>
        <remap from="b_setpoint" to="/balancing_pid/setpoint" />
        <remap from="b_state" to="/balancing_pid/state" />
        <remap from="b_control_effort" to="/balancing_pid/control_effort" />
        <remap from="p_setpoint" to="/position_pid/setpoint" />
        <remap from="p_state" to="/position_pid/state" />
        <remap from="teleop" to="/bbot/teleop"/>
        <param name="position_setpoint" value="0.001" />
    </node>

    <!-- Balancing PID Tunings for the record-->
    <!-- Acc. 4.0, Kp: -10.0, Ki:-50, Kd:-0.8 (Most stable) -->

    <!-- launch balancing PID node -->
    <node name="balancing_pid" pkg="pid" type="controller" output="screen" >
      <param name="Kp" value="-10.0" /> 
      <param name="Ki" value="-50.0" />
      <param name="Kd" value="-0.8"/>
      <param name="upper_limit" value="2.0" />
      <param name="lower_limit" value="-2.0" />
      <param name="windup_limit" value="0.1" />
      <param name="cutoff_frequency" value="20" />
      <param name="max_loop_frequency" value="105.0" />
      <param name="min_loop_frequency" value="95.0" />
      <param name="setpoint_timeout" value="-1.0" />
      <remap from="setpoint" to="~setpoint" />
      <remap from="state" to="~state" />
      <remap from="control_effort" to="~control_effort" />
      <remap from="pid_debug" to="~pid_debug" />
      <remap from="pid_enable" to="~pid_enable" />
    </node>

    <!-- launch Position control PID node -->
    <node name="position_pid" pkg="pid" type="controller" output="screen" >
      <param name="Kp" value="0.005"/> 
      <param name="Ki" value="1.0" />
      <param name="Kd" value="0.001"/>
      <param name="upper_limit" value="0.095" />
      <param name="lower_limit" value="0.075" />
      <param name="windup_limit" value="0.1" />
      <param name="cutoff_frequency" value="20" />
      <param name="max_loop_frequency" value="105.0" />
      <param name="min_loop_frequency" value="95.0" />
      <param name="setpoint_timeout" value="-1.0" />
      <remap from="setpoint" to="/position_pid/setpoint" />
      <remap from="state" to="/position_pid/state" />
      <remap from="control_effort" to="/position_pid/buffer" />
      <remap from="pid_debug" to="~pid_debug" />
      <remap from="pid_enable" to="~pid_enable" />
    </node>

    <!-- launch node to publish setpoint msgs for the position PID in a constant frequency -->
    <node name="freq_pub" pkg="bbot_control" type="freq_pub.py" output="screen">
        <remap from="pub_topic" to="/balancing_pid/setpoint"/>
        <remap from="sub_topic" to="/position_pid/buffer"/>
        <!-- <param name="K" value="0.08"/> -->
    </node>

    <!-- launch balancing PID plot  -->
    <node name="bal_plot" pkg="rqt_plot" type="rqt_plot"
    args="/balancing_pid/control_effort/data /balancing_pid/state/data /balancing_pid/setpoint/data" />

    <!-- launch position PID plot  -->
    <node name="pos_plot" pkg="rqt_plot" type="rqt_plot"
    args="/position_pid/control_effort/data /position_pid/state/data /position_pid/setpoint/data" />



    <!-- <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure" /> -->
    <!-- <node name="rqt_robot_monitor" pkg="rqt_robot_monitor" type="rqt_robot_monitor" /> -->
</launch>